<section class="afg-container afg-section" id="about-me">
  <mat-card class="grid grid__2col">
    <div>
      <mat-card-title>About me</mat-card-title>
      <mat-card-content>
        <ul class="afg-original">
          <li>Software developer with more than 12 years of experience</li>
          <li>Currently working with software development life cycle (SDLC) and agile methodologies</li>
          <li>Experienced in Angular 2+ All versions, Node JS and UI with Responsive designs</li>
          <li>Experience in PHP all versions, ready to work with Symfony, Doctrine, Wordpress, Prestashop,...</li>
          <li>I have good knowledge of MySQL, SQL, JQuery, Bootstrap, API's and more</li>
        </ul>
        <p> love innovation and everything related to technology. I face problems with a smile and solve them as soon as possible. Analytical mind and resolute in my work.</p>
      </mat-card-content>
    </div>
    <div>
      <mat-card-title>Basic Information</mat-card-title>
      <mat-card-content>
        <ul class="list">
          <li>
            <ul class="grid grid__2col">
              <li>email</li>
              <li>alvarodiezmartinez@gmail.com</li>
            </ul>
          </li>
          <li>
            <ul class="grid grid__2col">
              <li>languages</li>
              <li>Spanish, English (B1)</li>
            </ul>
          </li>
        </ul>
      </mat-card-content>
    </div>
  </mat-card>
</section>
<section class="afg-container afg-section" id="work-experience">
  <header>
    <h2>Work Experience</h2>
  </header>
  <mat-card class="grid grid__2col">
    <div>
      <mat-card-title>About me</mat-card-title>
      <mat-card-content>
        <ul class="afg-original">
          <li>Software developer with more than 12 years of experience</li>
          <li>Currently working with software development life cycle (SDLC) and agile methodologies</li>
          <li>Experienced in Angular 2+ All versions, Node JS and UI with Responsive designs</li>
          <li>Experience in PHP all versions, ready to work with Symfony, Doctrine, Wordpress, Prestashop,...</li>
          <li>I have good knowledge of MySQL, SQL, JQuery, Bootstrap, API's and more</li>
        </ul>
        <p> love innovation and everything related to technology. I face problems with a smile and solve them as soon as possible. Analytical mind and resolute in my work.</p>
      </mat-card-content>
    </div>
    <div>
      <mat-card-title>Basic Information</mat-card-title>
      <mat-card-content>
        <ul class="list">
          <li>
            <ul class="grid grid__2col">
              <li>email</li>
              <li>alvarodiezmartinez@gmail.com</li>
            </ul>
          </li>
          <li>
            <ul class="grid grid__2col">
              <li>languages</li>
              <li>Spanish, English (B1)</li>
            </ul>
          </li>
        </ul>
      </mat-card-content>
    </div>
  </mat-card>
</section>
